# Configuration for the Pylint checker.

[MESSAGES CONTROL]

# Initially taken from <http://stackoverflow.com/questions/35470/are-there-any-static-analysis-tools-for-python>.
# Disabled messages are marked with *.
#
# Import-related:
#   W0403 = Relative imports
#   F0401 = Unable to import module
#   W0402 = Uses of a deprecated module
#   W0614 = Unused import from wildcard (it's already an error when wildcard imports are used).
# Other:
#   W0142 = *args and **kwargs
#   R0201 = Method could be a function
#   W0212 = Accessing protected attribute of client class
#   W0613 = Unused argument
#   W0232 = Class has no __init__ method
# * R0903 = Too few public methods
#   C0301 = Line too long
#   R0913 = Too many arguments
#   C0103 = Invalid name
#   R0914 = Too many local variables
#   C0111 = Missing docstring

disable=R0903
